
/* 
    Code developed by: DAMAI                               
    Developers: - Sofia Verónica Ro                           
                - Osain Abitia Alvarez                        
                - Alejandro Vázquez del Mercado Gutiérrez  
*/

/*      GENERAL STYLE - LANDING PAGE         */
/*                                           */
/*      CONTENT:                             */
/*                                           */
/*      - general style                      */
/*      - header                             */
/*      - damai                              */
/*      - is it even fair                    */
/*      - problematic (.fair)                */
/*      - services                           */
/*      - licensing                          */
/*      - footer                             */
/*      - mobile specifications             */



/*        
            GENERAL STYLE 
*/

* {
	margin: 0;
	padding: 0; 
	font-family: 'Helvetica', sans-serif;
}


.button {

}



/* 
            HEADER (LANDING ENTRANCE)
*/


#header {
	display: block;
	height: 100vh;
	background: url('../img/bg-header.png');
	color: #fff;
}

#header .content {
	width: 40vw;
	padding: 10% 0% 0% 10%;	
}

#header .content h1 {
	font-size: 2rem;
}

#header .content hr {
	width: 5vw;
    border: 1px solid white;
}




/* 
            INFO DAMAI
*/

#damai--info {
	height: 100vh;
	background: url('../img/bg-damai.png');
	background-position: center;
	background-size: cover;
}




/* 
            IS IT EVEN FAIR
*/

#fair {
	display: block;
}

#fair .title {
	margin: 15vh 0 0 15vw !important;
	font-size: 6em;
	font-weight: lighter;
	text-transform: uppercase;
	color: #707070;
	margin-bottom: -5px;
	font-family: 'Raleway';
}


#fair .content {
	height: 40vh;
	background: linear-gradient(rgb(8, 44, 172), rgb(1, 132, 195));
	padding: 5vh 15vw;
	color: #f1f1f1;
	display: flex;
	align-items: center;
	margin-top: -2%;
	margin-bottom: 15vh;
}



/* 
            Services
*/

#services {
	height: 100vh;
	background: linear-gradient(#ffffff, #e0e0e0);
	padding: 10vh 10vw;
}

#services > .title, #licensing > .title {
	font-size: 1.5em;
}

#services hr, #licensing hr {
	width: 5vw;
	border: 1px solid rgb(8, 44, 172);
}

#services .row {
	margin-top: 15vh;
}

#services .border--right {
	border-right: 1px solid #494949;
}

#services .card--title {
	padding: 15px 0;
	font-size: 1.8em;
	margin: 10%;
}

.service--card img {
	width: 30%;
	margin-left: 35%;
}

#services .middle--card .card--title {
	padding-bottom: 2em;
}

#services .middle--card img {
	padding-bottom: 1.2em;
}

#services .button {
	width: 70%;
	margin-left: 15%;
}




/* 
            Statistics 
*/

#numbers {
	height: 60vh;
	background: linear-gradient(rgb(8, 44, 172), rgb(1, 132, 195));
}

#numbers .title {
	text-align: center;
	font-size: 2em;
	color: #f1f1f1;
	padding-top: 5vh;
}


#numbers > .content {
	display: flex;
	align-items: center;
}

#numbers .row {
	padding: 5% 10% !important;
}



.number--fact {
	color: #f1f1f1;
	font-size: 1.4em;
	text-align: center;
}

.number--fact > .data {
	font-size: 2em;
	font-style: normal;
}




/* 
            Licensing
*/

#licensing {
	height: 100vh;
	background: linear-gradient(#ffffff, #e0e0e0);
	padding: 10vh 10vw;
}

#licensing .row {
	margin-top: 5%;
	margin-left: 5%;
}

#licensing .col-lg-3 {
	margin: 3%;
}

.license--card {
	text-align: center;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 36px -19px rgba(0,0,0,0.75);
}

.license--card img {
	width: 30%;
	padding-top: 20%; 
}

.license--card .title {
	font-size: 2em;
	padding-top: 10%;
}

.license--card .description {
	font-size: .8em;
	margin: 10%;
}

.license--card .price {
	color: #019155;
	margin-bottom: 10%;
}



/* 
            Sponsors
*/

#sponsors {
	height: 60vh;
	background: linear-gradient(rgb(8, 44, 172), rgb(1, 132, 195));
}

#sponsors .title {
	font-size: 2em;
	color: #f1f1f1;
	text-align: center;
	padding-top: 5%;
}



/* 
            Footer
*/

#footer {
	height: 40vh;
	background: #444444;
}

#footer .damai--logo {
	margin: 20% 35%;
	width: 30%;
}






/* 
            Mobile Specifications 
*/

/* Cellphones */
@media only screen and (max-width: 544px) {
	
	/* 		Header		 */
	#header .content {
		width: 80vw;
		padding: 30% 10%;
	}

	#header .content hr {
		width: 15vw;
		border: 1px solid white;
	}


	/* 		DAMAI		 */
	#damai--info {
		height: 100vh;
		background: url('../img/bg-damai--mobile.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}



	/* 		IS IT EVEN FAIR		 */
	#fair .title {
		margin: 10vh 0 0 5vw !important;
		font-size: 4em;
		text-transform: uppercase;
		color: #a1a1a1;
		font-family: 'Raleway';
	}
	
	
	#fair .content {
		height: 60vh;
		font-size: 1.2em;
		text-align: center;
		background: linear-gradient(rgb(8, 44, 172), rgb(1, 132, 195));
		padding: 5vh 5vw;
		color: #f1f1f1;
		display: flex;
		align-items: center;
		margin-top: -5%;
	}



	/* 		Services		 */
	#services {
		height: fit-content;
		padding: 0 5%;
	}

	#services .service--card {
		margin-bottom: 15vh;
	}

	#services .border--right {
		border: none;
	}



	/* 		Numbers			 */

	#numbers {
		height: fit-content;
	}

	#numbers .title {
		margin: 0 10% 5% 10%;
	}

	.number--fact {
		color: #f1f1f1;
		font-size: 1.5em;
		margin: 10%;
	}


	/* 		Licensing		 */

	#licensing {
		height: fit-content;
	}

	#licensing .row {
		margin: 0;
		padding-top: 15%;
	}

}